.strategy-modal {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    inset: 40px;
}

.strategy-modal .modal-header {
    display: flex;
    justify-content: space-between;
}

.strategy-modal .modal-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #000;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.strategy-modal .targets .targets-title {
    display: flex;
    justify-content: space-between;
}

.strategy-modal .targets .targets-buttons {
    display: flex;
    width: 40px;
    justify-content: space-between;
}

.strategy-modal .targets .targets-total {
    display: flex;
    justify-content: space-between;
}